[submodule "aspnetcore/8.x"]
	path = Blazor.WebAssembly.SingleSpa/src/aspnetcore/8.x
	url = https://github.com/dotnet/aspnetcore.git
[submodule "aspnetcore/10.x"]
	path = Blazor.WebAssembly.SingleSpa/src/aspnetcore/10.x
	url = https://github.com/dotnet/aspnetcore.git
