[submodule "aspnetcore/7.x"]
	path = src/aspnetcore/7.x
	url = https://github.com/dotnet/aspnetcore.git
[submodule "aspnetcore/6.x"]
	path = src/aspnetcore/6.x
	url = https://github.com/dotnet/aspnetcore.git
[submodule "aspnetcore/8.x"]
	path = src/aspnetcore/8.x
	url = https://github.com/dotnet/aspnetcore.git
